@page "/"
@rendermode @(new InteractiveServerRenderMode(false))

@implements IDisposable

@inject IWeatherClientCollection WeatherClientCollection
@inject IJSRuntime JSRuntime

@using System.Timers
@using WeatherDataClients

<PageTitle>News and Weather</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <Clock />
        </div>

        <div class="col-5">
            @if (_locations.Count > 0)
            {
                <CurrentConditions LocationName="@_locations[0].LocationName"
                                   Conditions="@_locations[0].CurrentConditions">

                </CurrentConditions>
            }
        </div>

        <div class="col-12">
            @* ReSharper disable once UnknownCssClass *@
            @if (_locations.Count > 0)
            {
                <div id="weatherCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var loc in _locations)
                        {
                            <div class="carousel-item active">
                                <h5>@loc.LocationName</h5>
                                <div class="card-group">
                                    @foreach (var dailyForecast in loc.DailyForecasts.Take(6))
                                    {
                                        <DailyForecast Date="@dailyForecast.Date"
                                                       LowTemp="@dailyForecast.LowTemp"
                                                       HighTemp="@dailyForecast.HighTemp"
                                                       Description="@dailyForecast.Weather.Description"
                                                       Icon="@dailyForecast.Weather.Icon" />
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    window.setActiveCarouselItem = (carouselId, index) => {
        //        document.getElementById(carouselId).carousel(index);
    };
</script>

@code
{
    private string _message = "Loading ...";
    private readonly List<WeatherData> _locations = new();
    private Timer? _timer;

    protected override async Task OnInitializedAsync()
    {
        _timer = new Timer(60 * 1000);
        _timer.AutoReset = true;
        _timer.Enabled = true;
        _timer.Elapsed += (_, _) => OnTimerElapsed();

        try
        {
            await RefreshDataAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            _message = "Forecasts currently unavailable.";
        }
    }

    private async Task RefreshDataAsync()
    {
        foreach (var client in WeatherClientCollection.GetAll())
        {
            var data = await client.GetForecastsAsync();
            if (data != null)
                _locations.Add(data);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SetActiveItem(0);
        }
    }

    private async Task SetActiveItem(int index)
    {
        await JSRuntime.InvokeVoidAsync("setActiveCarouselItem", "weatherCarousel", 0);
    }

    private async void OnTimerElapsed()
    {
        await RefreshDataAsync();
        Console.WriteLine("Timer elapsed");
        await InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }
}
